.signupArea{
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 10px;
}

.signupForm{
    margin-right: 10%;
    margin-left: 10%;
}

.signupTitle{
    color: white;
    padding-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 10px;
}

.signupSubmitButton{
    width: 40%;
    margin-bottom: 5%;
}

.goHomeArea{
    margin-top: 5%;
}