.btnMenu:hover {
    background-color: #2c2e3e;
    border: 3px solid #ee2b47;
    color: #ee2b47;
}
.btnMenu {
    background-color: #2c2e3e;
    border: 1px solid #f6f6f6;
    font-size: 3em;
    font-weight: bold;
    color: #f6f6f6;
    display: inline-block;
}
.btn{
    background-color: #2C2E3E;
    color: #F6F6F6;
    border: 1px solid #f6f6f6;
}
.btnspe{
    height: 100px;
    width: 200px;
    font-size: 1.5em;
}