<!DOCTYPE html>
<html lang="en">
<head>
  <title>See</title>
  <!-- CSS perso -->
  <link rel="stylesheet" type="text/css" href="css/styleHome.css">
  <link rel="stylesheet" type="text/css" href="css/styleSee.css">
  <% include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/nav.ejs %>

<div class="container">
    <h1 class="text-center" style="margin-top: 4%;">FOR NOW</h1>
    <div class="formBox form-group">
        <table class="table" style="margin-top: 7%; text-align: center;">
            <thead class="currentTable">
                <tr>
                    <th class="noCenter">Rank</th>
                    <th>NickName</th>
                    <th>Spent</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableRowPositive">
                    <td class="noCenter">1</td>
                    <td>John</td>
                    <td>50</td>
                    <td>-20</td>
                </tr>
                <tr class="tableRowPositive">
                    <td class="noCenter">2</td>
                    <td>Mary</td>
                    <td>40</td>
                    <td>-10</td>
                </tr>
                <tr class="tableRowNegative">
                    <td class="noCenter">3</td>
                    <td>July</td>
                    <td>20</td>
                    <td>10</td>
                </tr>
                <tr class="tableRowNegative">
                    <td class="noCenter">4</td>
                    <td>William</td>
                    <td>0</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>